footer{
    background-color: #30343f;
    padding: 1.5rem;
}

.social{
    text-align: center;
}

.social > a {
    color: var(--color1);
    font-size: 1.5em;
    padding: 5px;
}

.developer{
    margin-top: 1rem;
    text-align: center;
}

#span-dev{
    color: rgb(241, 178, 20);
}